body{
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content:center;
    margin-top: 50px;
}
 
.container{
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

input{
    width: 80%;
    padding: 8px;
}

button{
    padding: 8px;
    background: green;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

li{
    list-style: none;
    padding: 8px;
    background: #eee;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.completed{
    text-decoration: line-through;
    color: gray;
}